/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(44, 47, 51);
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    display: block;
    background-color: #7289da; 
    padding: 2rem 7rem; 
    border-radius:  3rem; 
    margin: 5rem auto; 
    color: #fff;
}

/* theme css */

:root{
    --default-color: #222;
    --background-color-header: #EBF7E3;
    --main-color: #9BD770;
    --middle-color: #375F1B;
    --color-text: #fff;
}

header figure figcaption h1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    color: #ffffff;
    line-height: 3rem;
    padding: 2rem;
    font-size: 5rem;
    transition: 00.4s;
}

header figure figcaption h1:hover{
    transition: 00.4s;
    letter-spacing: 1.5rem;
}
figure{
    position: relative;
    text-align: left;
    display: block;
    justify-content: center;
    border-radius:  1rem;
    
}

header figure img{
    max-width: 100%;
	height: auto;
}

/*navbar*/
nav{
    height: 10rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(114, 137, 218);
}
nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
nav ul li{
   margin: 0 4rem;
   background-color: #fff;
   padding:1rem 3rem;
   border-radius:2rem;
   position: static;
}
nav ul li a:hover{
    transition: 0.4s;
    margin: 2rem;
}
nav ul li a{
    font-weight: bold;
    font-size:1.9rem;
    transition: 0.4s;
}
nav img:hover{
    transition: 0.4s;
    height: 7rem;
}
nav img{
    height: 5rem;
    margin-left: 3rem;
    transition: 0.4s;
}
header h1, footer p, section h3{
    font-weight: 300;
    text-align: center;
    line-height: 6.5rem;
}

.article_of{
    position: relative;
   height: 0; /* les articles cachés */
   opacity: 0;
   z-index: -1;
   overflow: hidden;
   transition: all .6s ease-in-out;
   
}
.article_on{
    opacity: 1;
    z-index: 1;
    height: initial;
}


figure figcaption h2::before{
    vertical-align: middle;
    margin-right: .5rem;
}
main figure{
    display: grid;
    max-width: 80rem;
    margin: 1rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    border: solid .1rem #ccc;
    padding: 1rem;
    background-color: rgb(153, 170, 181);
}
main figure img{
    order: 1;
    display: block;
    width: 100%;
    clip-path: circle(100%);
    transition: 0.4s;
}
main figure img:hover{
    transition: 0.4s;
    transform: scale(0.95);
}


main figure figcaption h2,main figure figcaption p{
    padding: 1rem 1rem 0 1rem;

}
main figure figcaption time{
    padding: 1rem;
    display: block;
    color: rgb(92, 89, 89);
    font-style: italic;
    font-size: small;
}
main figure figcaption p{
    line-height: 2.6rem;
    padding-top: 0;
}
/* suite des article */
main figure:nth-child(2n + 2) figcaption{
    order: 1;
}
main .btn-add{
    font-size: initial;
    padding: 1rem;
    display: block;
    width: 20rem;
    text-align: center;
    border: solid .1rem #222;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

main .btn-add:hover{
    transition: 0.4s;
    transform: scale(1.15);
}

main .btn-add::before{
    content:'Voir +';
}
main .btn-remove::before{
    content:'Voir -';
}
details{
    max-width: 80rem;
    margin:1rem auto;
    border: solid .1rem #ccc;
    padding: 1rem;
    background-color: rgb(153, 170, 181);
}
footer h3{
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: white;
}

footer ul li{
    max-width: 25rem;
    margin: 0 auto;
}

footer ul li a{
    line-height: 3.5rem;
    color: lightcyan;
    font-size: 2rem;

}
footer p{
    color: gray;
}

footer img{
    position: absolute;
    max-width: 25rem;
    left: 10rem;
    background-color: #7289da;
    border-radius: 3rem;
    transition: 00.4s;
}

footer img:hover{
    transition: 00.4s;
    transform: scale(0.78);
}
nav ul{
    overflow: hidden;
    margin: 0 auto;
    display:flex;         
    flex-direction:row;         
    flex-wrap:wrap;         
}
@media screen and (max-width: 70rem){
    main figure{
    grid-template-columns: repeat(1, 1fr);
    }
    nav ul{
        overflow: hidden;
        margin: 0 auto;
        display:flex;         
        flex-direction:row;         
        flex-wrap:wrap;         
        width:110%;
    }
    nav{         
        height:30rem;        
        display:flex;        
        flex-direction:column;     
    }
    header h1{
        font-size: 1rem;
    }
    main figure:nth-child(2n + 2) figcaption{
        order:initial;
    }
}
@media screen and (orientation:landscape){
    main figure{
        grid-template-columns: repeat(2, 1fr);
        }
        header h1{
            font-size: xx-large;
        }
        main figure:nth-child(2n + 2) figcaption{
            order: 1;
        }

}
    
